
<td><%= forecast.total_hours %></td>
<td><%= number_to_currency forecast.total_amount %></td>
<td><%= number_to_currency forecast.total_cost %></td>
<td><%= number_to_currency forecast.total_amount - forecast.total_cost %></td>